.header {
  width: 100%;
  height: 75px;

  position: sticky;
  top: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  background: white;

  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}



/* LOGO CENTRADO PERFECTO */
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo img {
  height: 52px;
  width: auto;
  display: block;
}


/* DERECHA */
.icons {
  display: flex;
  align-items: center;
  gap: 0px;
}

