* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}


:root {
  font-family: "Alexandria", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #172A3A; /* color de texto */
  background-color: #EDF4DE; /* fondo */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}


body {
  background-color: #EDF4DE;
  font-family: inherit;
  color: #172A3A;
}

/* títulos */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Source Serif Pro", serif; 
}

/*footer abajo*/

html, body {
  height: 100%;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  width: 100%;
}

.sobre-nosotros {
  background-color: white;
}

.sobre-nosotros .franja {
  height: 4rem; /* 64px */
  background-color: #EFF5E6;
  width: 100%;
}

.sobre-nosotros .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 4rem 1.5rem; /* arriba/abajo 64px, lateral 24px */
  text-align: center;
  font-family: 'Alexandria', sans-serif;
}

.sobre-nosotros h2 {
  color: #1B2A41;
  font-weight: bold;
  font-size: 2.5rem; /* 40px */
  text-transform: uppercase;
  margin-bottom: 2rem; /* 32px */
}

.sobre-nosotros p {
  color: #555555;
  font-size: 1.125rem; /* 18px */
  line-height: 1.6;
  margin-bottom: 1.5rem; /* 24px */
}

.sobre-nosotros p:last-child {
  margin-bottom: 0;
}

.error-page {
  background-color: #ffffff;
}

.franja-decorativa {
  width: 100%;
  height: 4rem; /* puedes ajustar */
  background-color: #EFF5E6;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
  gap: 2rem;
}

.error-text {
  text-align: center;
}

.error-title {
  color: #1B2A41;
  font-family: "Alexandria", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.error-subtitle {
  color: #555555;
  font-family: "Alexandria", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.error-image img {
  max-width: 400px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Responsive: dos columnas en desktop, columna en móvil */
@media(min-width: 768px) {
  .error-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}
