/* BOTONES GENERALES */
button {
  border: none;
  background: transparent;
  cursor: pointer;
  color: #172A3A;
  font-family: inherit;
  font-size: 1em;

  padding: 6px 10px;
  border-radius: 10px;

  transition: background-color 0.4s ease, opacity 0.4s ease;
}

button:hover {
  background-color: #F4ACB7;
  color: white;
}


button:focus,
button:focus-visible {
  outline: none;
}
